---
layout: default
---

<section>
  {% include navigation.html %}
  <div class="windows">
    <div class="window-wrapper" ng-class="{active: active == 'about', hidden: active != 'about'}">
      <div class="window about">
        <div>
          <h1>Welcome Lovely Friends!</h1>
          <p>Calling you to Remember Festival Journey!</p>
          <p>Psy Family Gathering will be hold on 29th - 31th May in stunning Jungles of north Bali.</p>
          <p>During our Psy Journey we will enjoy jungle experience and dance with best trance and chillout sounds surrounded by pure untouched nature and waterfalls.</p>
          <p>We will be dancing for love and peace, holding the positive vibration of music people and nature and spreading it to all over the world.</p>
          <p>We remember and honor beautiful souls who left us already and continue their journeys in the other dimensions. This world and space keeps their light and energy.</p>
          <p>There will be Remember Ceremony before Festival for our brothers and sisters who have passed away.</p>
          <p>Remember human beings are created to Dance and Enjoy! See you on a Dance Floor!</p>
        </div>
      </div>
    </div>
    <div class="window-wrapper" ng-class="{active: active == 'program', hidden: active != 'program'}">
      <div class="window program">
        <div>
          <ul>
            <li>
              <a ng-click="active = 'program-dance-temple'" style="background-image: url({{"/assets/images/backgrounds/dance_temple.jpg" | prepend: site.baseurl}});">
                <span>Dance Temple</span>
              </a>
            </li><li>
              <a ng-click="active = 'program-chillout-garden'" style="background-image: url({{"/assets/images/backgrounds/chillout_garden.jpg" | prepend: site.baseurl}});">
                <span>Chillout Garden</span>
              </a>
            </li><li>
              <a ng-click="active = 'program-sacred-fire'" style="background-image: url({{"/assets/images/backgrounds/sacred_fire.jpg" | prepend: site.baseurl}});">
                <span>Sacred Fire</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="window-wrapper" ng-class="{active: active == 'program-dance-temple', hidden: active != 'program-dance-temple'}">
      <div class="window program-dance-temple">
        <div>
          <h1>Dance Temple</h1>
          <p>
            <span>Nanodiversant/Magimatic - Ru - Live</span>
          </p>
          <p>
            <span>Psyonara (Halucination Generation Rec) - Ru</span>
          </p>
          <p>
            <span>Cosmic Sun (SVT Rec) - Ru</span>
          </p>
          <p>
            <span>Gerry (SVT Rec) - Sin</span>
          </p>
          <p>
            <span>3HM (Osirion Rec) - Fr</span>
          </p>
          <p>
            <span>Cabbit (Osirion Rec) - Sin</span>
          </p>
          <p>
            <span>Gaiana (BHS Rec) - Ind/NL - Live</span>
          </p>
          <p>
            <span>Sam - Aus</span>
          </p>
          <p>
            <span>Issam - Bali</span>
          </p>
          <p>
            <span>Nadji - Fr</span>
          </p>
          <p>
            <span>Tom O Rion (Hypnotica Rec) - Ger</span>
          </p>
          <p>
            <span>Patricio - Fr</span>
          </p>
          <p>
            <span>GoaRillaZ - Ger</span>
          </p>
          <p>
            <span>Cristrace (Antu Rec) - Chile</span>
          </p>
          <p>
            <span>Perforator - Ru</span>
          </p>
          <p>
            <span>Cymo (Dragonfly Crew Rec) - Aus</span>
          </p>
          <p>
            <span>Sphinxus - Ru</span>
          </p>
          <p>
            <span>Boots - UK</span>
          </p>
          <p>
            <span>Hare Robot (Electro Ashram Rec) - Ru - Live</span>
          </p>
        </div>
      </div>
      <div class="arrow left">
        <a ng-click="active = 'program-sacred-fire'" style="background-image: url({{"/assets/images/backgrounds/sacred_fire.jpg" | prepend: site.baseurl}});">
          <span>Sacred<br />Fire</span>
        </a>
      </div>
      <div class="arrow right">
        <a ng-click="active = 'program-chillout-garden'" style="background-image: url({{"/assets/images/backgrounds/chillout_garden.jpg" | prepend: site.baseurl}});">
          <span>Chillout<br />Garden</span>
        </a>
      </div>
    </div>
    <div class="window-wrapper" ng-class="{active: active == 'program-chillout-garden', hidden: active != 'program-chillout-garden'}">
      <div class="window program-chillout-garden">
        <div>
          <h1>Chillout Garden</h1>
          <p>
            <span>Magimatic - Ru - Live</span>
          </p>
          <p>
            <span>Cosmic Sun - Ru</span>
          </p>
          <p>
            <span>Gaiana (BHS Rec) - Ind/NL</span>
          </p>
          <p>
            <span>Thierry - Fr</span>
          </p>
          <p>
            <span>GoaRillaZ - Ger</span>
          </p>
          <p>
            <span>Perforator - Ru</span>
          </p>
          <p>
            <span>Sam - Aus</span>
          </p>
          <p>
            <span>Aleceo Kampanella - Ru - Live</span>
          </p>
          <p>
            <span>Cymo (Dragonfly Crew Rec) - Aus</span>
          </p>
        </div>
      </div>
      <div class="arrow left">
        <a ng-click="active = 'program-dance-temple'" style="background-image: url({{"/assets/images/backgrounds/dance_temple.jpg" | prepend: site.baseurl}});">
          <span>Dance Temple</span>
        </a>
      </div>
      <div class="arrow right">
        <a ng-click="active = 'program-sacred-fire'" style="background-image: url({{"/assets/images/backgrounds/sacred_fire.jpg" | prepend: site.baseurl}});">
          <span>Sacred<br />Fire</span>
        </a>
      </div>
    </div>
    <div class="window-wrapper" ng-class="{active: active == 'program-sacred-fire', hidden: active != 'program-sacred-fire'}">
      <div class="window program-sacred-fire">
        <div>
          <h1>Sacred Fire</h1>
          <p>It will burn for the whole festival!</p>
        </div>
      </div>
      <div class="arrow left">
        <a ng-click="active = 'program-chillout-garden'" style="background-image: url({{"/assets/images/backgrounds/chillout_garden.jpg" | prepend: site.baseurl}});">
          <span>Chillout<br />Garden</span>
        </a>
      </div>
      <div class="arrow right">
        <a ng-click="active = 'program-dance-temple'" style="background-image: url({{"/assets/images/backgrounds/dance_temple.jpg" | prepend: site.baseurl}});">
          <span>Dance Temple</span>
        </a>
      </div>
    </div>
    <div class="window-wrapper" ng-class="{active: active == 'environment', hidden: active != 'environment'}">
      <div class="window environment">
        <div>
          <h1>Coming Soon!</h1>
        </div>
      </div>
    </div>
    <div class="window-wrapper" ng-class="{active: active == 'guide', hidden: active != 'guide'}">
      <div class="window guide">
        <div>
          <h1>Coming Soon!</h1>
        </div>
      </div>
    </div>
    <div class="window-wrapper" ng-class="{active: active == 'tickets', hidden: active != 'tickets'}">
      <div class="window tickets">
        <div>
          <h1>
            Tickets for the<br />
            unforgettable Psy`nature<br />
            journey
          </h1>
          <p>
            Lets fly high!<br />
            Buy the tickets on presale to help us to make<br />
            this Magic Journey the best!
          </p>
          <h1>Welcome on board!</h1>
          <p>Prices:</p>
          <div class="form">
            <script src="https://s3.amazonaws.com/ticketbud/widgets/tickets.v2.js"
                    type="text/javascript"
                    class="ticketbud tickets"
                    data-uuid="76f69f6e-f25b-11e4-a003-1f903b8451a6"
                    data-host="ticketbud.com"
                    async>
            </script>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>